include common/_mixins

doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

    .about-header
        img(src="/assets/img/about_header_white.svg").about-header__svg
        include common/_header

    .container.equalheight
        .half-column

            section.about
                .wrapper
                    img(src='/assets/img/about_header.svg').about__back
                    h4.about__title обо мне
                    p.centered
                        img(src='/assets/img/myPhoto.jpg' alt='my-photo').main-photo

                    h3.about__subtitle кто я
                    p.about__text
                        | Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов
                        | и приложений. Мне нравится делать интересные и современные проекты.
                    p.about__text
                        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                        | Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .half-column

            section.skills
                .wrapper
                    h3.skills__title чем могу быть вам полезен
                    p.skills__text
                        | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать
                        | не сложные задачи на Backend. Но давайте по порядку.
                h5.skills__subtitle Frontend
                ul.progress
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text html 5
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text css3
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text javaskript & jQuery
                h5.skills__subtitle Backend
                ul.progress
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text PHP
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text mySQL
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text Node.js & npm
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text Monho.db
                h5.skills__subtitle WorkFlow
                ul.progress
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text Git
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text Gulp
                    li.progress__item
                        .circle__wrap
                            svg(width="100%" height="100%").circle
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#ccc" fill="none")
                                circle(transform="rotate(-90deg)" r="45" cx="60" cy="60" stroke="#10c1a8").circle__sector
                            span.circle__text Bover


    .map__wrap

        section.contacts
            h3.contacts__title контакты
            ul.contacts__list
                li: a(href='#').contacts__item.contacts__item--skype Ivanopalas
                li: a(href='#').contacts__item.contacts__item--mail ivan.aksyutin@gmail.com
                li: a(href='#').contacts__item.contacts__item--phone +38 (095) 221-90-01
                li: a(href='#').contacts__item.contacts__item--adress Donetsk

        iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5337.3615916219605!2d37.80350524864198!3d48.01987653514938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xa4ee2c35505a72fe!2z0JTQvtC90LHQsNGB0YEg0JDRgNC10L3QsA!5e0!3m2!1sru!2sua!4v1465827825041" width="100%" height="700px" frameborder="0" style="border:0" allowfullscreen)

        .map__footer
            include common/_footer