include common/_mixins

doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        include common/_preloader

    .about-header
        img(src="/assets/img/about_header_white.svg").about-header__svg
        include common/_header

    .container.equalheight
        .half-column

            section.about
                .wrapper
                    img(src='/assets/img/about_header.svg').about__back
                    h4.about__title обо мне
                    p.centered
                        img(src='/assets/img/myPhoto.jpg' alt='my-photo').main-photo

                    h3.about__subtitle кто я
                    p.about__text
                        | Я веб разработчик из Донецка. Мне 27 лет. Я занимаюсь разработкой современных сайтов
                        | и приложений. Мне нравится делать интересные и современные проекты.
                    p.about__text
                        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                        | Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .half-column

            section.skills
                .wrapper
                    h3.skills__title чем могу быть вам полезен
                    p.skills__text
                        | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать
                        | не сложные задачи на Backend. Но давайте по порядку.
                each skillsCat, sectionName in skills
                    .about-skills__category
                        h5.title_3= sectionName
                        ul.about-skills__list
                            each value, skill in skillsCat
                                li.about-skills__item
                                    +circle-progress(value).js-skill= skill

    .map__wrap

        .contacts__wrap
            section.contacts
                h3.contacts__title контакты
                ul.contacts__list
                    li: a(href='#').contacts__item.contacts__item--skype Ivanopalas
                    li: a(href='#').contacts__item.contacts__item--mail ivan.aksyutin@gmail.com
                    li: a(href='#').contacts__item.contacts__item--phone +38 (095) 221-90-01
                    li: a(href='#').contacts__item.contacts__item--adress Donetsk
        .map#map

        .map__footer
            include common/_footer

    include common/_menu