include common/_mixins

doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        include common/_preloader

        .admin-header
            a(href="index.html").admin-header__link Вернуться на сайт
            h3.admin-header__title Панель администрирования

        section.controls
            .tabs__controls
                ul.control__list.js-tabs
                    li Обо мне
                    li Блог
                    li Мои работы

            .tabs__content.active
                form(action='POST')
                    h3.tabs__title Страница обо мне
                    +skillsTable('Frontend', 'Html', 'CSS', 'JavaScript')
                    +skillsTable('Backend', 'PHP', 'Node.js', 'Mongo.db')
                    +skillsTable('Workflow', 'GIT', 'Gulp', 'Bower')
                    button.submit-about Сохранить

            .tabs__content
                h3.tabs__title Страница блог
                .tabs__subtitle Добавить запись
                form.tab__form(action='POST')
                    input.tab__input(type='text' name='title' placeholder='Название')
                    br
                    input.tab__input(type='text' name='date' placeholder='Дата')
                    textarea.tab__textarea(rows='7' placeholder='Содержание')
                    br
                    button.submit-about Добавить

            .tabs__content
                h3.tabs__title Страница «Мои работы»
                .tabs__subtitle Добавить работу
                form(action='POST').tab__form
                    input(type='text' name='name' placeholder='Название проекта').tab__input
                    br
                    input(type='text' name='name' placeholder='Технологии').tab__input
                    br
                    input(type='file' name='img' placeholder='me')
                    br
                    button.submit-about Добавить
