include common/_mixins

doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .works-header
      img(src="/assets/img/portfolio_header.svg").works-header__svg
      include common/_header


    +section-title('мои работы', 'about_header.svg')

    include common/_slider

    section.works-bottom

        .reviews
            +section-title('что обо мне говорят', 'about-bg.svg')

            .reviews-slider
                .reviews-slider__item
                    p.quotes
                        i(aria-hidden="true").fa.fa-quote-left
                    p.reviews-slider__text
                        | Этот парень проходил обучение веб-разработке не где-то,
                        | а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews-slider__img
                        img(src="/assets/img/person_1.jpg")
                    .reviews-slider__bottom
                        .reviews-slider__person Дмитрий Ковальчук
                        .reviews-slider__post основатель Loftschool
                .reviews-slider__item
                    p.quotes
                        i(aria-hidden="true").fa.fa-quote-left
                    p.reviews-slider__text
                        | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт
                        | на слишком старых браузерах!
                    .reviews-slider__img
                        img(src="/assets/img/person_2.jpg")
                    .reviews-slider__bottom
                        .reviews-slider__person Зар Захаров
                        .reviews-slider__post главный преподаватель

        .blur-bg
            img(src="/assets/img/works-bottom.jpg").blur-bg__img

        .contact__wrap
            .contact__form-blurred
            .contact__form-wrapper
                h4.contact__title связаться со мной
                form(action="mailto:ivan.aksyutin@gmail.com" method="post" name="mailtome").contact__form
                    .contact__inner-wrap
                        .field
                            input(type="text" placeholder="Имя").contact__input.js-name
                            i(aria-hidden="true")
                        .field
                            input(type="email" placeholder="Email").contact__input.js-email
                            i(aria-hidden="true")
                        .field
                            textarea(placeholder="Ваше сообщение" rows="4").contact__input.js-message
                            i(aria-hidden="true")
                    input(type="submit" value="Отправить").contact__submit.contact__submit--send.js-submit
                    input(type="submit" value="Очистить").contact__submit.contact__submit--cl.js-form__clear
        a(href="#").contact__arrow

    .work-footer
        include common/_footer
    include common/_menu