h1 {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'RobotoMedium';
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 2px;
}

@import 'common/fonts';
@import 'common/mixins';
@import 'common/font-awesome';
@import 'common/GUI';
@import 'common/vars';
@import 'common/preloader';
@import 'common/parallax';
@import 'common/flip';
@import 'common/footer';
@import 'common/works';
@import 'common/blog';
@import 'common/slider';
@import 'common/title';
@import 'common/header';
@import 'common/border';
@import 'common/greating';
@import 'common/wellcome';
@import 'common/login';
@import 'common/menu';
@import 'common/main';

body {
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
  position: relative;

  @include laptop {
    font-size: 16px;
  }
}

h3 {
  font-family: 'BerniertRegular';
  font-size: 1.5rem;
  color: $section-title;
  text-align: center;
  margin: 0;
}

h5 {
  font-family: 'RobotoMedium';
  font-size: 1.5rem;
  text-align: center;
  color: $skills-subtitle-text;
}

@include tablet {
  .wrapper {
    width: 472px;
    margin: 0 auto;
  }
}

.container {
  @include clearfix
}

@include laptop {

  .half-column {
    display: flex;
    width: 50%;
  }
}