body {
  margin: 0;
  font-size: 14px;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'RobotoMedium';
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 2px;
}

@import 'common/fonts';
@import 'common/mixins';
@import 'common/font-awesome';
@import 'common/GUI';
@import 'common/vars';
@import 'common/works';
@import 'common/blog';
@import 'common/slider';
@import 'common/title';
@import 'common/header';
@import 'common/border';
@import 'common/greating';
@import 'common/wellcome';
@import 'common/login';
@import 'common/main';

h3 {
  font-family: 'BerniertRegular';
  font-size: 1.5rem;
  color: $section-title;
  text-align: center;
  margin: 0;
}

h5 {
  font-family: 'RobotoMedium';
  font-size: 1.5rem;
  text-align: center;
  color: $skills-subtitle-text;
}

@include tablet {
  .wrapper {
    width: 472px;
    margin: 0 auto;
  }
}

.container {
  @include clearfix
}

@include laptop {

  .half-column {
    float: left;
    width: 50%;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 20px 12px 52px;
  font-family: 'RobotoMedium';
  color: #fff;
  background: $circle-color;
  border-radius: 5px;
  margin-bottom: 30px;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url(/assets/img/link.svg);
    background-size: contain;
  }
}