footer.footer
  .footer__top
    ul.footer__menu
      li.footer__item: a(href="#").footer__link Мои работы
      li.footer__item: a(href="#").footer__link Обо мне
      li.footer__item: a(href="#").footer__link Блог
      li.footer__item: a(href="#").footer__link Авторизация

    ul.social-rounted
      li.social-rounted__item: a(href="#").social-rounted__link.social-rounted__link--vk
      li.social-rounted__item: a(href="#").social-rounted__link.social-rounted__link--github
      li.social-rounted__item: a(href="#").social-rounted__link.social-rounted__link--link

  .footer__bottom
    p.footer__text
      | Я веб-разработчик из Донецка, и этот сайт я сделал в рамках обучения
      | в Школе онлайн образования LoftSchool.
    p.footer__copyright
      | &copy; Аксютин Иван | создано с любовью в LoftSchool | 2016