header.header
  .header__bg
    img(src="/assets/img/main-img.jpg")
  .header__top
    include _social

  .header__wrap
    .photo
      img(src='/assets/img/myPhoto.jpg' alt='my-photo').photo__img
    h1 Аксютин Иван
    p.header__about Личный сайт веб разработчика
  a(href='#').header__arrow
  .header__bottom
    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle
      polygon(points="0,0   0,86   500.8,86   500.8,75.5")
      polygon(points="1000,0   1000,86   500,86   500,75.5")