ul.social
    li.social__list: a(href='#').social__item.social__item--vk
    li.social__list: a(href='#').social__item.social__item--github
    li.social__list: a(href='#').social__item.social__item--linkedin