.header-blog {
  padding: 30px;
  position: relative;
  width: 100%;
  height: auto;
  background: url("/assets/img/main-img.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .header__top {
    margin-bottom: 20px;
  }

  .header__bottom {
    bottom: -6px;
  }

  &__title {
    font-family: "BerniertRegular";
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__wrap {
    position: relative;
  }

  &__wrap-img {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__img {
    margin: -8rem auto 0;
    width: 15rem;
    opacity: .1;
  }
  
}

.article {
  margin: 25px 10px;

  @include tablet {
    margin: 50px 25px;
  }

  &:not(:last-child) {
    border-bottom: 5px solid rgba(#393e42, .1);
  }

  &__title {
    margin: 0;
    font-family: "BerniertRegular";
    font-size: 1.5rem;
    color: $main-text;
  }

  &__date {
    font-family: "RobotoRegular";
    font-size: 1rem;
    color: $circle-color;
  }

  &__content {
    font-family: "RobotoRegular";
    color: $main-text;
    line-height: 1.5;
    font-size: 1rem;
  }
}

.blog {
  @include clearfix;

  &__container {
    @include clearfix;
    @include laptop {
      width: 1020px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  &__menu {
    position: relative;
    top: 200px;
    margin-left: -50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $circle-color;
    -webkit-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    
    @include tablet {
      display: none;
    }
  }

  &__toggle {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: -9px;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 50%;
    background-color: $circle-color;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
    
    @include tablet {
      display: none;
    }

    &:hover, &:active {
      box-shadow: 3px 0 8px rgba(0, 0, 0, 0.5);
    }
  }

  &__subtitle {
    display: block;
    text-decoration: none;
    color: #fff;
    
    @include laptop {
      text-decoration: none;
      display: block;
      text-align: right;
      font-family: "RobotoRegular";
      color: $main-text;
      font-size: 1.1rem;
      line-height: 1.9rem;
    }
  }

  &__item {
    font-family: 'RobotoRegular';
    font-size: 1.1rem;
    padding-right: 15px;
    margin: 25px 0;

    @include laptop {
      padding-right: 20px;
      font-size: 1.1rem;
    }
  }
  
  &__item--active {
    font-family: 'RobotoBold';
    color: #fff;

    @include laptop {
      border-right: 3px solid $circle-color;
      font-family: "RobotoBold";
      color: $circle-color;
      padding-right: 17px;

    }

    .blog__subtitle {
      color: #fff;

      @include laptop {
        color: $circle-color;
      }
    }
  }

  &__tabs {
    list-style-type: none;
    text-align: right;
    @include clearfix()
  }
}

.left__col {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: -270px;
  width: 270px;
  transition: all .35s;
  animation: hideSidebar .5s;
  background-color: $circle-color;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  @include clearfix;

  @include tablet {
    display: none;
  }

  @include laptop {
    position: static;
    display: block;
    float: left;
    width: 30%;
    background: transparent;
    transition: none;
    animation: none;
  }
}

.left__col--open {
  left: 0;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
  animation: none;
}

.right_col {
  @include tablet {
    width: 100%;
  }

  @include laptop {
    float: right;
    width: 70%;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu__wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: right;
  background-color: $circle-color;
  
  @include laptop {
    position: static;
    background: transparent;
    transform: none;
  }
}

@keyframes hideSidebar {
  0% {
    left: 0;
  }
  100% {
    left: -90%;
  }
}

.traingle--blog {
  width: 100%;
}