.header-blog {
  padding: 30px;
  position: relative;
  width: 100%;
  height: auto;
  background: url("/assets/img/main-img.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .header__top {
    margin-bottom: 20px;
  }

  .header__bottom {
    bottom: -6px;
  }

  &__title {
    font-family: "BerniertRegular";
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__wrap {
    position: relative;
  }

  &__wrap-img {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__img {
    margin: -8rem auto 0;
    width: 15rem;
    opacity: .1;
  }
  
}

.article {
  margin: 25px 10px;

  @include tablet {
    margin: 50px 25px;
  }

  &:not(:last-child) {
    border-bottom: 5px solid rgba(#393e42, .1);
  }

  &__title {
    margin: 0;
    font-family: "BerniertRegular";
    font-size: 1.5rem;
    color: $main-text;
  }

  &__date {
    font-family: "RobotoRegular";
    font-size: 1rem;
    color: $circle-color;
  }

  &__content {
    font-family: "RobotoRegular";
    color: $main-text;
    line-height: 1.5;
    font-size: 1rem;
  }
}

.blog {
  @include clearfix
  
  &__content {

    @include laptop {
      float: right;
      width: 70%;
    }
  }

  &__menu {
    position: relative;
    top: 200px;
    margin-left: -50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $circle-color;
    -webkit-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    
    @include tablet {
      display: none;
    }
  }
  
  &__tabs {
    display: none;
    
    @include laptop {
      list-style-type: none;
      margin-top: 50px;
      display: block;
      float: left;
      width: 25%;
    }
  }

  &__subtitle {
    
    @include laptop {
      text-decoration: none;
      display: block;
      text-align: right;
      padding-right: 20px;
      font-family: "RobotoRegular";
      color: $main-text;
      font-size: 1.1rem;
      line-height: 1.9rem;
    }
  }
  
  &__subtitle--active {
    border-right: 3px solid $circle-color;
    font-family: "RobotoBold";
    color: $circle-color;
    padding-right: 17px;
  }
}