.flip-container {
  perspective: 1000px;
  width: 352px;
  height: 424px;

  &__front,
  &__back {
    width: 352px;
    height: 424px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg)
  }

  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }


}

.flip-container.flip .flip-container__flipper {
  transform: rotateY(180deg);
}
