.flip-container {
  perspective: 1000px;
  width: 352px;
  height: 424px;
  opacity: 0;

  &__front,
  &__back {
    width: 352px;
    height: 424px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg)
  }

  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  &.loaded {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: bounceInDown;
    opacity: 1;
  }

}

.flip-container.flip .flip-container__flipper {
  transform: rotateY(180deg);
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
