.header {
  position: relative;
  padding: 10px;
  min-height: 650px;
  overflow: hidden;

  @include laptop {
    height: 100vh;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: top;
  }

  &__wrap {
    position: absolute;
    top: 30%;
    left: 0;
    right:0;

    @include tablet {
      top: 40%;
      z-index: 7;
    }
  }
  
  &__bg {
    height: 1276px;
    @include centered

    img {
      min-width: 1000px;
      display: block;
      max-width: 100%;
    }
  }

  &__top {
    @include clearfix
    margin-bottom: 84px;
  }

  &__about {
    font-family: 'RobotoLight';
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 152px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__about--blog {
    margin-bottom: 0px;
  }

  &__arrow {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    width: 26px;
    height: 16px;
    background: url("/assets/img/arrow_down.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    opacity: .7;
    z-index: 12;
    transition: all .3s;

    &:hover {
      opacity: 1;
      transform: translateY(5px);
    }

    @include laptop {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      margin-left: -13px;
    }
  }

  &__bottom {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;

    @include laptop {
      bottom: -6px;
    }
  }
}

.social {
  margin-bottom: 84px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;

  &__list {
    display: inline-block;
    vertical-align: bottom;
  }

  &__item--vk {
    background: url("/assets/img/vk.svg") no-repeat;
  }

  &__item--github {
    background: url("/assets/img/github.svg") no-repeat;
  }

  &__item--linkedin {
    background: url("/assets/img/in.svg") no-repeat;
  }

  &__item {
    margin-right: 28px;
    display: block;
    width: 26px;
    height: 19px;
    text-indent: -9999px;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.photo {
  margin: auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;

  &__img {
    width: 140px;
  }
}

.main-photo {
  width: 100%;
  height: auto;
}

.traingle {
  margin: auto;
  fill: #efeee9;
}

.traingle--blog {
  fill: #fff;
}
