@import "mixins";

.about {
  width: 100%;
  position: relative;
  background: $section-about;
  padding: 25px 0;

  &__text {
    font-family: RobotoRegular;
    line-height: 1.7;
    color: $main-text;
  }

  &__title {
    margin: 0 auto 15px;
    font-family: 'BerniertRegular';
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #373e42;
    text-align: center;

    &:before,
    &:after {
      content: '- ';
      letter-spacing: 5px;
      font-family: 'BerniertRegular';
      font-size: 2.5rem;
      color: $main-text;
      opacity: .2;
    }

    &:after {
      content: ' -';
    }
  }

  &__subtitle {
    background: $section-about;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;

    &:before,
    &:after {
      content: '- ';
      font-family: "BerniertRegular";
      letter-spacing: 5px;
      color: $main-text;
      opacity: .3;
    }

    &:after {
      content: ' -';
    }
  }

  &__text {
    padding: 0 10px;
  }

  &__back {
    position: absolute;
    top: 19px;
    width: 156px;
    left: 50%;
    margin-left: -78px;
    bottom: 2%;
    opacity: .3;
  }
}

.skills {
  width: 100%;
  padding: 30px 10px;
  background: $section-skills;

  @include laptop {
    padding-left: 38px;
  }

  &__title {
    font-size: 1.5rem;
    text-align: center;

    &:before,
    &:after {
      content: '- ';
      letter-spacing: 5px;
      font-family: "BerniertRegular";
      font-size: 1.5rem;
      color: $main-text;
      opacity: .5;
    }

    &:after {
      content: ' -';
    }
  }
  
  &__subtitle {
    text-align: center;
    margin: 20px 0;
    
    @include laptop {
      text-align: left;
    }
  }

  &__text {
    font-family: 'RobotoRegular';
    color: $main-text;
    line-height: 1.7;
  }
}

.contacts {
  padding: 32px 10px;
  
  @include tablet {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(#fff, .85);
    padding: 36px 45px 33px 36px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  @include laptop {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(#fff, .85);
    padding: 36px 45px 33px 36px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  &__title {
    font-size: 2.5rem;
    color: #373e42;

    &:before,
    &:after {
      content: '- ';
      letter-spacing: 5px;
      font-family: "BerniertRegular";
      font-size: 2.5rem;
      color: $main-text;
      opacity: .2;
    }

    &:after {
      content: ' -';
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
    font-family: 'RobotoMedium';
    font-size: 1.14rem;
  }

  &__item {
    position: relative;
    display: block;
    margin-bottom: 27px;
    padding-left: 35px;
    text-decoration: none;
    color: $section-title;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
    }


  }
  
  &__item--skype:before {
    background: url("/assets/img/skype.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__item--mail:before {
    top: 3px;
    background: url("/assets/img/envelope.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__item--phone:before {
    background: url("/assets/img/phone.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__item--adress:before {
    background: url("/assets/img/map_marker.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

.map {

  &__wrap {
    position: relative
  }

  &__footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

}

.circle {
  width: 120px;
  height: 120px;
  fill: none;
  stroke-width: 25;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  
  &__wrap {
    position: relative;
  }
  
  &__text {
    font-family: 'RobotoRegular';
    font-size: .8rem;
    color: $circle-color;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 65px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  

  &__sector {
    stroke-dasharray: 70 314;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}

.progress {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;

  @include laptop {
    text-align: left;
  }

  &__item {
    display: inline-block;
    vertical-align: top;

    &:nth-child(odd) {
      margin-right: 35px;
    }

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
}

.works-header {
  .traingle {
    fill: #faf8f0;
  }
}

.about-header {
  position: relative;

  &__svg {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 4;
    opacity: .1;
  }
}

@include laptop {
  .equalheight {
    display: flex;
  }
}