@import 'vars';

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin xl-desktop {
  @media screen and (min-width: #{$xl-desctop-width}) {
    @content;
  }
}

@mixin centered {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
