.slider {
  margin-bottom: 30px;
  @include clearfix();
  @include laptop {
    height: 100vh;
  }
  
  &__left,
  &__right,
  &__display img{
    padding: 0px 5px;
    width: 100%;
    text-align: center;
  }

  &__display {
    
    @include laptop {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 70%;
      z-index: 1;
    }

    img {
      max-width: 90%;
      min-width: 90%;

      @include laptop {
        @include centered;
      }
    }
  }

  &__left,
  &__right {
    @include clearfix();
    
    @include laptop {
      position: relative;
      width: 50%;
    }
  }

  &__right {
    position: relative;
    padding: 0;
  }

  &__title {
    display: block;
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'BerniertRegular';
    font-size: 1.5rem;
    text-align: center;
    color: $main-text;

    @include laptop {
      width: 100%;
    }

    &:before,
    &:after {
      content: '- ';
      font-family: 'BerniertRegular';
      font-size: 2rem;
      color: $dash;
      @include centered();
    }

    &:after {
      content: ' –';
      top: 50%;
    }

  }

  &__wrap {

    @include laptop {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__info {
    margin-bottom: 20px;
    padding: 10px 0;
    font-family: 'RobotoMedium';
    font-size: 1rem;
    color: $circle-color;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-top-color: $circle-color;
    border-bottom-color: $circle-color;
  }


  &__left {
    background: $slider-left-column;

    @include laptop {
      float: left;
      height: 100%;
    }

    &:before {

      @include laptop {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    }

  }

  &__right {
    background: $slider-right-column;

    @include laptop {
      float: right;
      height: 100%;
      position: relative;
    }
  }

  &__controls {
    position: relative;
    width: 100%;
    float: left;
    @include clearfix();

    @include laptop {
      width: 100%;
      position: absolute;
      height: 30%;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  
  &__controls-item {
    position: relative;
    display: block;
    height: 100%;
    width: 50%;
    float: left;

    &:after {
      content: '';
      position: absolute;
      width: 43px;
      height: 27px;
      display: block;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -22px;
      z-index: 1;
      background: url("/assets/img/arrow_down.svg") no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
    
    &:before {
      content: '';
      z-index: 1;
      @include centered();
      background: rgba(#888372, .5);
    }
  }

  &__controls-item--next:after {
    background: url("/assets/img/arrow_up.svg") no-repeat;
  }

  &__controls-img {
    max-width: 90%;
    max-height: 90%;

    @include laptop {
      @include centered
    }
  }

}