/*-------------------------------------*/// VARIABLES: GLOBAL/*-------------------------------------*/

/*-------------------------------------*/// GRID

// Grid: Gutters$grid-gutter: 15px;

/*-------------------------------------*/// MEDIA QUERIES

$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$xl-desctop-width: 1800px;

/*-------------------------------------*/// DIMENSIONS: WIDTHS, HEIGHTS

// Header: Height$height-header: 45px;

// Nav Menu: Width$width-nav: 280px;

// Inputs: Height$height-form-widget: 60px;

/*-------------------------------------*/// COLORS

$section-title: #455a64;

$section-title-line: #cbcbc8;

$skills-subtitle-text: #4d5963;

$section-about: #f0eee9;

$section-skills: #eeebdf;

$main-text: #455a64;

$circle-color: #10c1a8;

$slider-left-column: #f0efe9;

$slider-right-column: #efebe0;

$dash: #cbccc8;

$reviews-slider: #20b5a1;

$form-text: #373e42;

$tabs-bg-color: #f0efe9;

$c1: #ebefe2;
$c2: #65873d;
$c3: #f4f5f0;
$c4: #373e42;
$c5: #dfdcd5;
$c6: #566358;
$c7: #479d58;
$c8: #7e9b5c;
$c9: #5f5a55;
$c10: #fcfcfc;
$c11: #77a266;
$c12: #4e8839;
$c13: #93c42e;
$c14: #a4c43a;
$c15: #6c9c5a;
$c16: #f8f9f5;
$c17: #e1e4d7;
$c18: #122620;
$c19: #dee3e7;


/*-------------------------------------*/// FONTS

// Fonts: Base styles$font-family-1: Roboto, sans-serif;$font-size-base: 18px;

// Fonts: Weights$font-light: 300;$font-normal: 400;$font-bold: 700;

// Fonts: Sizes$font-sm: 90%;$font-sm-x: 80%;$font-lg: 110%;$font-lg-x: 120%;

/*-------------------------------------*/// FONT-ICONS: FAMILY

$font-icon: 'icomoon';

/*-------------------------------------*/// SPACING

$spacing: 10px;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;
$spacing-half: $spacing / 2;

/*-------------------------------------*/// Z:INDEX

$zindex-header: 1000;$zindex-dropdown: 1100;$zindex-lib-select2: 1200;  // plugin: Select2$zindex-notify: 1300;$zindex-modal: 1400;